* text=auto

*.py text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.hex text eol=lf
*.ps1 text eol=crlf

*.bin binary
*.zip binary
*.pcap binary
*.pcapng binary
*.png binary
*.jpg binary
*.jpeg binary
